<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="{{ site.url }}">Technical Documentation for Modality Software</a></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
     
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
             
        <span class="site-footer-credits">
	
           <a href="{{ site.github.repository_url }}">View on GitHub</a><br/>
          Copyright 2019 <a href="https://www.modalitysystems.com">Modality Systems</a>
        
        
        </span>
      </footer>
    </section>

   
  </body>
</html>
